<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>Mobad</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/ratchet.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <header class="bar bar-nav bar-texture">
      <a class="icon icon-gear pull-right" href="#navPopover"></a>

      <a class="icon icon-compose pull-right" href="#additemModal"></a>
      <h1 class="title">DEMO</h1>
    </header>
  <!--begin main content-->
    <div class="content content-padded">
      <!--segmented control-->
      <div class="segmented-control">
        <a class="control-item" href="#item2mobile">
          Public Updates
        </a>
        <a class="control-item" href="#item3mobile">
          Chats
        </a>
      </div>
      <!--segmented content-->
        <div class="content-padded">
          <span id="item2mobile" class="control-content active">
             <ul id="my-topics" class="table-view">
                
             </ul>
          </span>
          <span id="item3mobile" class="control-content">
            <ul id="questions" class="table-view">
               
            </ul>
          </span>
        </div>
        </div><!-- /.content -->
        <!--footer-->
        
         <!-- Popover -->
        <div id="navPopover" class="popover">
            <ul class="table-view">
              <li class="table-view-cell">
                Settings
              </li>
              <li class="table-view-cell">
                Account
              </li>
              <li class="table-view-cell">
                Logout
                <div class="toggle">
                  <div class="toggle-handle"></div>
                </div>
              </li>
            </ul>
        </div>
        <!-- Add Item modal -->
        <div id="additemModal" class="modal">
          <header class="bar bar-nav bar-texture">
          <a class="icon icon-close pull-right" href="#additemModal"></a>
          <h1 class="title">New Update</h1>
          </header>
          <div class="content content-padded">
          <form id="add-item" class="input-group">
            <label></label>
            <input type="text" class="hide" id="hUid" name="user_id" value="">    
            <input type="text" name="t_subject" placeholder="Subject" required>
            <br/><br/>
            <select name="recipient" required>
              <option value="public">Public</option>
            </select>
            <br/><br/>
            <textarea name="t_description"placeholder="Description" required></textarea>
            <br/><br/> 
                <div id="item-success-msg"></div>
            <button class="btn btn-positive btn-block texture">Send</button>
          </form>
          </div>
          <!--footer-->
        </div>
            
    <!-- /.modal -->
    <script type="text/javascript" src="js/libraries/ratchet.min.js" ></script>
    <script type="text/javascript" src="js/libraries/jquery.min.js" ></script>
    <script type="text/javascript" src="js/libraries/validation.js"></script>
    <script type="text/javascript" src="js/libraries/underscore-min.js"></script>
    <script type="text/javascript" src="js/libraries/storageapi.js"></script> 
    <script type="text/javascript" src="js/libraries/moment.js"></script> 
    <script type="text/javascript" src="js/libraries/livestamp.min.js"></script>
    <script type="text/javascript" src="js/admin.js" ></script>
    
    <!--templates-->
    <!-- content template-->
    <script type="text/template" id="forum">
    <% if(rc.t_error){ %>
      <li class="table-view-cell media">
       <div class="media-body">
              <p class="center-text"><%= rc.t_error %> </p>
       </div>
      </li>
     <% } else{ _.each(rc.topic, function(list){ %>
        <li class="table-view-cell media" >
          <a class="navigate-right" id=<%= list.topic_id %> >
            <div class="media-body">
              <%=list.subject %>
              <p><i>posted by: <%= list.username %><i></p>
              <p><span data-livestamp=<%= list.time_stamp %>></span></p>
            </div>
          </a>
        </li>
       <% }); } %>
    </script>
    <!-- my topics-->
    <script type="text/template" id="mine">
    <% if(rc.t_error){ %>
      <li class="table-view-cell media">
       <div class="media-body">
              <p class="center-text"><%= rc.t_error %> </p>
       </div>
      </li>
     <% } else{ _.each(rc.my_topics, function(list){ %>
        <li class="table-view-cell media" >
          <a class="navigate-right" id=<%= list.topic_id %> >
            <div class="media-body">
              <%=list.subject %>
              <p><span data-livestamp=<%= list.time_stamp %>></span></p>
            </div>
          </a>
        </li>
       <% }); } %>
    </script>
     <!-- admin questions-->
    <script type="text/template" id="qsns">
    <% if(rc.t_error){ %>
      <li class="table-view-cell media">
       <div class="media-body">
              <p class="center-text"><%= rc.t_error %> </p>
       </div>
      </li>
     <% } else{ _.each(rc.admin_qsns, function(list){ 
      %>
        <li class="table-view-cell media" >
          <a class="navigate-right" id=<%= list.topic_id %> >
            <div class="media-body">
              <%=list.subject %>
              <p><i>posted by: <%= list.username %><i></p>
              <p><span data-livestamp=<%= list.time_stamp %>></span></p>
            </div>
          </a>
        </li>
       <%}); } %>
    </script>
  </body>
</html>
